﻿@using GalleryWebShop.Areas.Identity.Models;


@model IEnumerable<User>
@{
    ViewData["Title"] = "All Users";
}

<h1 class="bg-info text-white">All Users</h1>
@if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p class="alert-danger">@ViewBag.ErrorMessage</p>
}
@if (String.IsNullOrEmpty(ViewBag.Search) || Model.Count() == 0)
{
    ViewBag.Search = "Search...";
}

<form method="get" asp-area="Admin" asp-controller="Admin" asp-action="Index" class="row mb-5">
    <div class="col-6">
        <input placeholder="@ViewBag.Search" type="text" class="form-control" name="searchQuery"/>
    </div>
    <div class="col-3">
        <input type="submit" class="btn btn-success" value="Search" />
    </div>
</form>

<a asp-action="Create" class="btn btn-secondary">Create a User</a>
<hr />
<table class="table table-sm table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.UserType)</th>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.Address)</th>
        <th>@Html.DisplayNameFor(model => model.EmailConfirmed)</th>
        <th>@Html.DisplayNameFor(model => model.Image)</th>
        <th></th>
    </tr>
    @foreach (User user in Model)
    {
        <tr>
            <td>@user.UserType</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>@user.Address</td>
            <td>@Html.CheckBoxFor(u => user.EmailConfirmed, new { @disabled = "disabled"})</td>
            <td>@user.Image</td>
            <td>
                <a class="btn btn-sm btn-info" asp-asp-area="admin" asp-controller="Admin" asp-action="Details" asp-route-id="@user.UserId">Details</a>
                <a class="btn btn-sm btn-primary" asp-asp-area="admin" asp-controller="Admin" asp-action="Edit" asp-route-id="@user.UserId">Edit</a>
                <a style="visibility: @if(ViewBag.Admins != null)
               {
               @(ViewBag.Admins.Contains(user.UserId) ? "hidden" : "visible" )
               }"
               class="btn btn-sm btn-danger" title="Delete" asp-asp-area="admin" asp-controller="Admin" asp-action="Delete" asp-route-id="@user.UserId">X</a>
            </td>
            
        </tr>
    }
</table>


