@model IEnumerable<GalleryWebShop.Models.ProductCategory>
@{
    ViewData["Title"] = "ProductByCategory";
}

<h1>Technique: @ViewBag.CatTitle</h1>
@if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p class="alert-danger">@ViewBag.ErrorMessage</p>
}
<hr />
<div class="row">
    @foreach (var item in Model)
    {
        {
            <div class="card col-4 mb-3" style="padding: 6px">
                <div class="card">
                    @{
                        string setImage = !String.IsNullOrEmpty(item.Product.Image) ? "~/images/products/" + item.Product.Image : "~/images/default-placeholder.png";
                    }

                    <img src="@Url.Content(setImage)" class="card-img-top" alt="art image" height="430">

                    <div class="card-body">
                        <h5 class="card-title">@item.Product.Title</h5>
                        <p>
                            <a class="btn btn-sm btn-info" asp-controller="Home" asp-action="Details" asp-route-itemId="@item.Product.Id">Details</a>
                        </p>
                        <p class="card-text">@item.Product.Price.ToString("C2")</p>

                        <p>
                            <form method="POST" asp-area="" asp-controller="Cart" asp-action="AddToCart">
                                <input type="hidden" name="productId" value="@item.Id" />
                                <input type="number" name="quantity" class="form-control" , min="1" , max="@item.Product.InStock" value="1" />
                                <button type="submit" class="btn btn-success">
                                    Add to cart
                                </button>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        }
    }
</div>
